* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: NYTMagSans;
  src: url(assets/magsans-normal-500.4a37b5e9.ttf);
  font-weight: 500;
}
@font-face {
  font-family: NYTMagSans;
  src: url(assets/magsans-normal-700.9852bcb8.ttf);
  font-weight: 700;
}
@font-face {
  font-family: NYTFranklinLight;
  src: url(assets/NYTFranklinLight.ed73aac0.otf);
}
@font-face {
  font-family: NYTFranklin;
  src: url(assets/NYTFranklinMedium.ab4b15b2.otf);
  font-weight: 500;
}
@font-face {
  font-family: NYTFranklin;
  src: url(assets/franklin-normal-600.079dadf0.woff2) format("woff2"),
    url(assets/franklin-normal-600.7c86c668.woff) format("woff");
  font-weight: 600;
}
@font-face {
  font-family: NYTFranklin;
  src: url(assets/NYTFranklinBold.0e64e745.otf);
  font-weight: 700;
}
@font-face {
  font-family: NYTFranklin;
  src: url(assets/NYTFranklinExtraBold.77b9fc4f.otf);
  font-weight: 900;
}
@font-face {
  font-family: NYTStymie;
  src: url(assets/NYTStymieTextExtraBold.50c2f333.otf);
  font-weight: 900;
}
@font-face {
  font-family: karnak-bold-condensed;
  src: url(assets/NYTKarnakCondensed-Bold.cdd5cdba.otf);
  font-weight: 500;
}
@font-face {
  font-family: karnakCondensedBold;
  src: url(assets/NYTKarnakCondensed-Bold.cdd5cdba.otf);
}
@font-face {
  font-family: karnakMedium;
  src: url(assets/NYTKarnak-Medium.ca971bd9.otf);
}
@font-face {
  font-family: nytFranklinMedium;
  src: url(assets/NYTFranklinMedium.ab4b15b2.otf);
  font-weight: 500;
}
@font-face {
  font-family: magsans;
  src: url(assets/magsans-normal-500.4a37b5e9.ttf);
  font-weight: 500;
}
@font-face {
  font-family: magsans-bold;
  src: url(assets/magsans-normal-700.9852bcb8.ttf);
  font-weight: 700;
}
@font-face {
  font-family: franklin-extra-bold;
  src: url(assets/NYTFranklinExtraBold.77b9fc4f.otf);
  font-weight: 900;
}
@font-face {
  font-family: magslab;
  src: url(assets/magslab-normal-700.c9b8a0b3.ttf);
  font-weight: 700;
}
@font-face {
  font-family: karnak;
  src: url(assets/NYTKarnakDisplay.15812e46.otf);
  font-weight: 700;
}
:root {
  --header-height: 50px;
}
header {
  height: var(--header-height);
  min-height: var(--header-height);
  color: #fff;
  width: 100vw;
  max-width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw;
  display: flex;
}
header h1 {
  height: 30px;
  color: #000;
  letter-spacing: -0.5px;
  margin: 0;
  font-family: karnak-bold-condensed;
  font-size: 1.5em;
}
header .tools {
  -webkit-user-select: none;
  user-select: none;
  align-items: center;
  display: flex;
}
header .tools * {
  color: var(--link-text-blue);
  cursor: pointer;
  margin-left: 10px;
  font: 1em NYTFranklin;
}
header button {
  background: #fff;
  border: none;
  outline: none;
  padding: 0;
}
header button:disabled {
  color: gray;
  cursor: default;
}

.oblong-button {
  color: #000;
  height: 50px;
  letter-spacing: 0.5px;
  background-color: #fff;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  padding: 0.4em 1.7em;
  font-family: magslab;
  font-size: 2em;
  text-decoration: none;
  display: flex;
}
.gold.pressable {
  background-color: var(--goldenrod);
  box-shadow: 0 4px #e0b70a;
}
#alert-modal {
  background-color: #000c;
}
.bold {
  font-family: magsans-bold;
}
.close-x:hover {
  cursor: pointer;
}
@font-face {
  font-family: nytFranklinLight;
  src: url(assets/NYTFranklinLight.ed73aac0.otf);
}
@font-face {
  font-family: nytFranklinMedium;
  src: url(assets/NYTFranklinMedium.ab4b15b2.otf);
}
@font-face {
  font-family: nytFranklinBold;
  src: url(assets/NYTFranklinBold.0e64e745.otf);
}
@font-face {
  font-family: karnakCondensedBold;
  src: url(assets/NYTKarnakCondensed-Bold.cdd5cdba.otf);
}
@font-face {
  font-family: karnakMedium;
  src: url(assets/NYTKarnak-Medium.ca971bd9.otf);
}
:root {
  --dark-grey: #a0a0a0;
  --light-grey: #c7c7c7;
  --digits-light-green: #dbe797;
  --digits-yellow-green: #e0d95e;
  --digits-medium-green: #5f9c49;
  --number-size: 86px;
  --number-radius: calc(var(--number-size) / 2);
  --top-section-desktop-height: 233px;
  --toolbar-desktop-height: 65px;
  --toolbar-mobile-height: 46px;
}
span.line {
  display: inline;
}
span.line a {
  display: inline-block;
}
.modal a {
  color: var(--link-text-blue);
  border-bottom: none;
  text-decoration: none;
}
.modal {
  height: unset;
}
body {
  color: #000;
  -webkit-tap-highlight-color: transparent;
  touch-action: pan-y;
  overflow-wrap: break-word;
  background-color: #fff;
  font: 20px NYTFranklin;
}
body a {
  color: #00f;
}
.operation-button {
  width: 8vw;
  color: #0000;
}
#game {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 7vw 2vw;
  display: flex;
}
#target {
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
  font: 56px nytFranklinBold;
}
.short-bounce {
  animation: 0.3s ease-in bounce;
}
.long-bounce {
  animation: 0.3s ease-in 2 bounce;
}
.invalid-shake {
  animation: 0.2s ease-in 1.5 shake;
}
.flicker {
  animation: 0.5s step-start 2 flicker;
}
.pulse {
  animation: 0.4s linear pulse;
}
@keyframes flicker {
  50% {
    color: var(--digits-light-green);
  }
}
@keyframes shake {
  0%,
  to {
    transform: translate(0);
  }
  25% {
    transform: translate(-5px);
  }
  75% {
    transform: translate(5px);
  }
}
@keyframes bounce {
  0%,
  to {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
#target-wrapper {
  height: 12vh;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
}
#numbers {
  width: 275px;
  height: 176px;
  margin: auto auto 5vw;
  font: 20px nytFranklinBold;
  position: relative;
}
#number-pos-0 {
  top: 0;
  left: 0;
}
#number-pos-1 {
  top: 0;
  left: calc(50% - var(--number-radius));
}
#number-pos-2 {
  top: 0;
  left: calc(100% - var(--number-size));
}
#number-pos-3 {
  top: calc(100% - var(--number-size));
  left: 0;
}
#number-pos-4 {
  top: calc(100% - var(--number-size));
  left: calc(50% - var(--number-radius));
}
#number-pos-5 {
  top: calc(100% - var(--number-size));
  left: calc(100% - var(--number-size));
}
#history-desktop,
#history-mobile {
  color: #000;
  flex-direction: column;
  margin-block-start: unset;
  margin-block-end: unset;
  padding-inline-start: unset;
  font-family: NYTFranklin;
  list-style-type: none;
  display: flex;
  overflow: clip;
}
#history-mobile,
#solution-mobile {
  text-align: left;
  list-style-type: none;
}
.history-header,
.solution-header {
  color: #000;
  height: 45px;
  align-items: center;
  display: flex;
}
.number {
  text-align: center;
  width: var(--number-size);
  height: var(--number-size);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  border: 3px dashed #000;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 32px;
  display: flex;
  position: absolute;
}
.number a {
  color: #000;
  text-decoration: none;
}
.number.active a {
  color: #000;
}
#numbers a {
  text-decoration: none;
}
.number.active,
.number.touched {
  color: #fff;
  background-color: var(--digits-medium-green);
  border: 5px solid var(--digits-medium-green);
}
.growShrink {
  animation: 0.5s ease-in growShrink;
}
.shrunk {
  animation: 0.5s ease-in forwards shrink;
}
.operation.touched {
  background-color: var(--digits-medium-green);
  color: #fff;
}
.number.removed {
  display: none;
}
#operations {
  width: 100%;
  justify-content: center;
  align-items: stretch;
  margin: auto auto 10px;
  display: flex;
}
#operations * {
  margin: 3px;
  font-size: 10vw;
}
#undo {
  width: 55px;
  height: 55px;
  color: #fff;
  cursor: pointer;
  background: var(--digits-medium-green);
  box-sizing: border-box;
  border: none;
  border-radius: 50%;
  outline: none;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-size: 45px;
  transition: filter 0.3s;
  display: flex;
}
.operation {
  width: 55px;
  height: 55px;
  color: #fff;
  cursor: pointer;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  background: #000;
  border: none;
  border-radius: 50%;
  outline: none;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-size: 45px;
  transition: filter 0.3s;
  display: flex;
}
.operation > * {
  pointer-events: none;
}
.operation.active {
  background-color: var(--digits-medium-green);
  color: #000;
}
#congrats-modal .modal-content {
  background-color: #fff;
}
#congrats-modal * {
  color: #000;
}
#help-modal {
  font: 16px NYTFranklin;
}
#congrats-title {
  font-family: karnak-bold-condensed;
  font-size: 2em;
  line-height: 1.2;
}
#next-puzzle-button,
#try-again-button,
#todays-puzzles-button,
#play-button,
#back-to-puzzles-button {
  color: #fff;
  letter-spacing: 0;
  max-width: 80vw;
  height: 44px;
  background-color: #000;
  font: 700 18px NYTFranklin;
}
#share-button,
#submit-button {
  background-color: var(--digits-yellow-green);
  color: #000;
  letter-spacing: 0;
  max-width: 80vw;
  height: 44px;
  border: none;
  border-radius: 20px;
  margin: 0 4px;
  font: 18px nytFranklinBold;
}

#try-again-button,
#back-to-puzzles-button {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
}
#play-button {
  color: #fff;
  letter-spacing: 0.05em;
}
#congrats-goal {
  white-space: pre;
}

#submit-and-share-buttons {
  width: auto;
  flex-direction: row-reverse;
  justify-content: center;
  display: flex;
}
#submit-button {
  background-color: var(--dark-grey);
  color: var(--light-grey);
  text-align: center;
  max-height: 4.5em;
  padding: 12px 15px 15px;
  display: block;
}
#submit-button.active {
  background-color: var(--digits-yellow-green);
  color: #000;
  border: 3px dashed var(--digits-yellow-green);
  height: auto;
  padding: 8px 12px;
  display: inline-flex;
}
#submit-button.hide {
  display: none;
}
.hide,
#progress-section.hide,
#puzzles.hide,
#reset-button.hide,
#rank-up.hide {
  display: none;
}
#congrats-modal,
#reminder-modal,
#goodbye-modal,
#rankings-modal {
  height: 100%;
  z-index: 8;
  background-color: #fffc;
  font: 20px NYTFranklin;
  display: none;
  position: absolute;
  inset: 0;
}
#game-status {
  display: none;
}
.modal .modal-content {
  width: 94vw;
  max-width: 94vw;
}
.modal.obscure-behind {
  background-color: #fffc;
}
.modal p {
  line-height: 1.4em;
}
#get-closer-prompt {
  color: #0000;
  text-align: center;
  margin-top: 12px;
  font-size: 0.8em;
}
#congrats-modal .modal-content,
#reminder-modal .modal-content,
#goodbye-modal .modal-content {
  width: 80vw;
}
#reminder-message {
  margin-top: 24px;
}
#congrats-buttons {
  margin: 16px auto 10px;
}
#congrats-message {
  margin: 0;
  line-height: 1.2em;
}
#digits-icon {
  width: 80px;
}
#cover {
  background-color: var(--digits-light-green);
  height: 100vh;
  width: 100vw;
  z-index: 30;
  text-align: center;
  margin: auto;
  position: absolute;
}
#cover-content {
  width: 80vw;
  margin: auto;
  position: absolute;
  top: 30vh;
  left: 0;
  right: 0;
}
#game-title {
  font: 40px karnakCondensedBold;
}
#game-beta {
  text-transform: uppercase;
  height: 26px;
  justify-content: center;
  align-items: center;
  font-family: nytFranklinBold;
  font-size: 16px;
  display: flex;
}
#game-subtitle {
  font: 20px karnakMedium;
}
#play-button {
  border: unset;
  width: 100px;
  height: 40px;
  text-align: center;
  background-color: #000;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  left: 0;
  right: 0;
}
#mobile-indicator {
  display: block;
}
#congrats-reveal-warning {
  display: none;
}
#game-prompt-text {
  min-height: 16px;
  margin-bottom: 0;
  font-size: 14px;
}
#how-to-play-gif {
  margin: auto;
}
.icon-undo {
  width: 32px;
  height: 32px;
  background-image: url(assets/Digits-Buttons_Delete-K.cd270da5.svg);
  background-repeat: no-repeat;
}
.icon-add {
  width: 32px;
  height: 32px;
  background-image: url(assets/Digits-Buttons_Add-KWhite.a9943bd7.svg);
  background-repeat: no-repeat;
}
.icon-subtract {
  width: 32px;
  height: 32px;
  background-image: url(assets/Digits-Buttons_Subtract-KWhite.a3d03d49.svg);
  background-repeat: no-repeat;
}
.icon-multiply {
  width: 32px;
  height: 32px;
  background-image: url(assets/Digits-Buttons_Multiply-KWhite.9dd026ee.svg);
  background-repeat: no-repeat;
}
.icon-divide {
  width: 32px;
  height: 32px;
  background-image: url(assets/Digits-Buttons_Divide-KWhite.048aa589.svg);
  background-repeat: no-repeat;
}
#puzzles-desktop {
  align-items: end;
  margin-left: 48px;
  display: flex;
}
#puzzles-desktop #puzzles {
  width: 348px;
  margin: unset;
  translate: 0 1px;
}
#puzzles-desktop .puzzle {
  width: 68px;
  height: 48px;
  padding: 3px;
}
#puzzles-desktop .stars {
  width: 56px;
  justify-content: center;
  padding-top: 1px;
}
#puzzles-desktop .star {
  width: 18px;
  margin: unset;
  padding: unset;
}
#puzzles-desktop .puzzle-info {
  font-size: 20px;
}
#puzzles-mobile .puzzle {
  width: calc(20% + 1px);
  margin-top: -1px;
  margin-left: -1px;
}
#puzzles-mobile .puzzle.active {
  margin-bottom: 1px;
}
#game-status-desktop {
  vertical-align: baseline;
  border: 1px solid var(--light-grey);
  letter-spacing: 0.005em;
  height: 375px;
  border-radius: 12px;
  flex-direction: row;
  margin: 0 52px;
  padding: 24px 36px;
  display: flex;
  overflow: hidden;
}
.history-entry,
.solution-entry,
#history-placeholder-desktop,
#history-placeholder-mobile,
.history-header,
.solution-header {
  padding: 4px 0;
  font-family: nytFranklinLight;
  font-size: 15px;
}
#history-header-desktop,
#solution-header-desktop {
  margin-bottom: 14px;
}
#history-desktop > li.history-entry,
#solution-desktop > li.solution-entry {
  width: calc(50% - 10px);
  min-width: 160px;
  border-bottom: 1px solid #000;
  align-items: center;
  margin-bottom: 7px;
  margin-right: 20px;
  padding: 4px 0 4px 1px;
  display: flex;
}
#solution-desktop > li.solution-entry {
  color: #000;
  border-bottom: 1px solid #000;
}
.solution-header {
  color: #000;
  display: flex;
}
#history-placeholder-mobile {
  color: #ccc;
}
#history-placeholder-desktop {
  color: #000;
}
#solution-desktop,
#solution-mobile {
  flex-direction: column;
  margin-block-start: unset;
  margin-block-end: unset;
  padding-inline-start: unset;
  list-style-type: none;
  display: flex;
  overflow: clip;
}
#history-container-desktop,
#solution-container-desktop,
#history-container-mobile,
#solution-container-mobile {
  flex: auto;
  flex-basis: fit-content;
  height: 100%;
  flex-direction: column;
  display: flex;
  position: relative;
}
.modal-content h2 {
  font-size: 30px;
  font-weight: unset;
  font-style: unset;
  margin-block: 0.5em 0;
}

button {
  background-color: #fff;
}
#marker-3,
#marker-2,
#marker-1 {
  width: 3px;
  height: 10px;
  z-index: 2;
  background-color: #636363;
  position: absolute;
}
#marker-1 {
  right: 20%;
}
#marker-2 {
  right: 60%;
}
#marker-3 {
  right: 0;
}
#progress-section {
  width: 90%;
  z-index: 9;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  padding: 2vw 3vw;
  display: flex;
  position: absolute;
  top: 40px;
  left: 5%;
}
#rank {
  color: #000;
  text-align: left;
  padding-bottom: 0.2em;
  padding-right: 0.5em;
}
#back-button {
  color: #bcbcbc;
  margin-bottom: 3px;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}
#back-button:hover {
  color: var(--digits-medium-green);
}
#desktop-nav {
  height: 65px;
  min-width: 65px;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  display: flex;
}
#hamburger {
  width: 20px;
  height: 3px;
  background-color: #000;
  border-radius: 4px;
  display: block;
  position: absolute;
}
#hamburger:before {
  content: "";
  width: 20px;
  height: 3px;
  background-color: #000;
  border-radius: 4px;
  display: block;
  position: absolute;
  top: -7px;
}
#hamburger:after {
  width: 20px;
  height: 3px;
  content: "";
  background-color: #000;
  border-radius: 4px;
  display: block;
  position: absolute;
  bottom: -7px;
}
#fixed-top-section {
  width: 100%;
  background-color: #fff;
  display: block;
  position: relative;
  top: 0;
}
.stars {
  max-height: 0.5em;
  align-self: center;
  display: flex;
}
.star {
  opacity: 0.35;
  height: 14px;
  width: 14px;
  margin: 0.5px;
}
.star.hidden {
  opacity: 0;
}
#puzzle-selection {
  flex-direction: column;
  display: flex;
}
#puzzles {
  width: 100%;
  flex-direction: row;
  align-items: center;
  margin: auto;
  font-weight: 700;
  display: flex;
}
.puzzle {
  color: var(--light-grey);
  text-align: center;
  max-height: 1.3em;
  border-top: 1px solid var(--light-grey);
  border-left: 1px solid var(--light-grey);
  border-bottom: 1px solid var(--light-grey);
  width: 20%;
  background-color: #f3f3f3;
  border-right: none;
  flex-direction: column;
  padding: 5px;
  font-size: 2em;
  text-decoration: none;
  display: flex;
}
.puzzle.locked {
  color: var(--light-grey);
  background-color: #dcdcdc;
}
.puzzle.active {
  color: #000;
  border-bottom: unset;
  background-color: #fff;
}
.puzzle-info {
  -webkit-user-select: none;
  user-select: none;
  flex-direction: column;
  align-self: center;
  font-family: nytFranklinMedium;
  font-size: 0.33em;
  font-weight: 700;
  display: flex;
}
.toolbar-container {
  border-top: 1px solid var(--light-grey);
  width: 100%;
  z-index: 1;
  position: relative;
}
#toolbar {
  vertical-align: baseline;
  min-height: 1px;
  width: 100%;
  border-bottom: 1px solid var(--light-grey);
  flex-wrap: wrap;
  flex: 1;
  align-items: stretch;
  font: 15px nytFranklinBold;
}
.toolbar-content {
  vertical-align: baseline;
  max-width: 1280px;
  flex-wrap: nowrap;
  flex: auto;
  justify-content: space-between;
  margin: 0 auto;
  padding-right: 12px;
  display: flex;
}
.toolbar-button {
  color: #000;
  border: none;
  padding: 6px 4px;
  font-size: 1.125em;
}
.toolbar-left {
  justify-content: flex-start;
  margin-right: auto;
  display: flex;
}
.toolbar-right {
  justify-content: flex-end;
  margin-left: auto;
  display: flex;
}
.help-icon {
  height: 24px;
  width: 24px;
  vertical-align: middle;
  background-image: url(assets/help.4c14e1e5.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}
.settings-icon {
  height: 24px;
  width: 24px;
  vertical-align: middle;
  background-image: url(assets/settings.a6d6b6f9.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}
#rank-bar-mobile {
  display: none;
}
#rank-bar-container-mobile,
#rank-bar-container-desktop {
  height: 1.875em;
  flex-grow: 1;
  align-items: center;
  margin: 0 12px;
  display: flex;
  position: relative;
}
#rank-bar-stars-mobile,
#rank-bar-stars-desktop {
  width: 100%;
  z-index: 3;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: absolute;
}
#rank-bar-line-mobile,
#rank-bar-line-desktop {
  height: 3px;
  width: 100%;
  background: #dcdcdc;
  align-items: center;
  margin: 0 6px;
  display: flex;
  position: relative;
}
#rank-bar-line-mobile-completion,
#rank-bar-line-desktop-completion {
  height: 3px;
  background: var(--digits-medium-green);
  z-index: 1;
  align-items: center;
  display: flex;
  position: relative;
}
#progress-star {
  width: 12px;
  height: 12px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.progress-star {
  width: 28px;
  height: 28px;
  z-index: 1;
}
#progress-star-text {
  color: #000;
  text-align: center;
  z-index: 2;
  margin-top: 4px;
  font-family: nytFranklinBold;
  font-size: 12px;
  position: absolute;
}
.progress-filled {
  width: 12px;
  height: 12px;
  background-color: var(--digits-medium-green);
  border-radius: 100%;
}
.progress-empty {
  width: 10px;
  height: 10px;
  background-color: #dcdcdc;
  border-radius: 100%;
}
.progress-invisible {
  background-color: #0000;
}
#rank-text-mobile,
#rank-text-desktop {
  width: auto;
  max-width: 80px;
  padding: 6px 4px 4px;
  line-height: 28px;
}
#rank-bar-desktop {
  vertical-align: baseline;
  min-height: 1px;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 52px 8px;
  font: 13px nytFranklinBold;
  display: flex;
}
#logo-nav,
#title-bar {
  display: none;
}
#game-content {
  flex-direction: column;
  display: flex;
}
#toggle-history {
  width: 45px;
  height: 45px;
  transform-origin: 50%;
  background: #fff;
  flex: none;
  justify-content: center;
  align-items: center;
  transition: all 0.1s;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}
#toggle-history-icon {
  width: 22px;
  height: 22px;
  background: url(assets/caret-up.9ce14aa3.svg) 50%/20px 20px no-repeat;
  display: block;
  position: relative;
}
#toggle-history-icon.collapsed {
  width: 22px;
  height: 22px;
  background: url(assets/caret-down.d1219cf9.svg) 50%/20px 20px no-repeat;
}
#history-drawer {
  width: 94%;
  z-index: 2;
  height: 7vh;
  margin: 12px auto;
  position: relative;
}
#game-status-mobile {
  width: 100%;
  height: 68vh;
  background-color: #fff;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  padding-left: 20px;
  transition-duration: 0.5s;
  display: flex;
  position: absolute;
  overflow: hidden;
}
#game-status-mobile.collapsed {
  height: 45px;
}
#game-status-mobile.collapsed .solution-header,
#game-status-mobile.collapsed #history-header-mobile {
  display: none;
}
#history-mobile {
  width: 100%;
}
#history-mobile > li.history-entry,
#solution-mobile > li.solution-entry {
  width: calc(50% - 10px);
  min-width: 80%;
  border-bottom: 1px solid #000;
  align-items: center;
  margin-bottom: 7px;
  margin-right: 20px;
  padding: 4px 0 4px 1px;
  display: flex;
}
#solution-mobile > li.solution-entry {
  color: #000;
  border-bottom: 1px solid #000;
}
#history-placeholder-mobile {
  height: 45px;
  align-items: center;
  display: flex;
}
#history-mobile li:last-child,
#solution-mobile li:last-child {
  margin-bottom: 20px;
}
#game-status-mobile.collapsed #history-mobile {
  margin: unset;
}
#game-status-mobile.collapsed #history-mobile > li,
#game-status-mobile.collapsed #solution-mobile > li {
  height: 45px;
  border: unset;
  margin: unset;
}
#solution-text-mobile {
  flex-direction: column;
  display: flex;
}
#rank-bar-mobile {
  vertical-align: baseline;
  min-height: 1px;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 6px;
  font: 12px nytFranklinBold;
  display: flex;
}
#rank-text-desktop {
  display: none;
}
@media (width>=1024px) {
  .history-header,
  .solution-header {
    align-items: left;
    height: unset;
  }
  #rank-text-desktop {
    display: flex;
  }
  .history-entry,
  .solution-entry,
  #history-placeholder-desktop,
  #history-placeholder-mobile,
  .history-header,
  .solution-header {
    font-size: 18px;
  }
  #rank-bar-mobile {
    display: none;
  }
  .settings-icon,
  .help-icon {
    height: 28px;
    width: 28px;
  }
  #toolbar {
    border-bottom: unset;
    padding: 0 12px;
  }
  #game-status-mobile,
  #history-drawer {
    display: none;
  }
  #game-status {
    margin-top: 42px;
    display: flex;
  }
  .puzzle-star {
    width: 7vw;
    max-width: 100px;
  }
  #congrats-stars {
    height: 8vw;
  }
  #target-wrapper {
    height: 15vh;
  }
  .toolbar-content {
    padding-right: unset;
  }
  .toolbar-button {
    padding: 6px 6px 4px;
    line-height: 45px;
  }
  .toolbar-container {
    border-bottom: 1px solid var(--light-grey);
  }

  #game-content {
    font: inherit;
    vertical-align: baseline;
    width: 100%;
    max-width: 1080px;
    border: 0;
    flex-direction: row;
    flex-grow: 1;
    align-content: stretch;
    margin: 0 auto;
    padding: 0;
    display: flex;
    overflow-y: auto;
  }
  #game {
    font: inherit;
    vertical-align: baseline;
    border: 0;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    margin: 4px 0;
    padding: 0;
    display: flex;
    position: relative;
  }
  #game-status-mobile {
    display: none;
  }
  #game-status {
    width: 50%;
    flex-direction: column;
    display: flex;
  }
  .number {
    font-size: 32px;
    position: absolute;
  }
  #numbers {
    width: 275px;
    height: 176px;
    margin: unset;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
  }
  #operations {
    width: 284px;
    flex-direction: row;
    place-content: space-between;
    margin: 24px 0 32px;
    display: flex;
  }
  #operations button {
    width: 50px;
    height: 50px;
  }
  #operation image {
    width: 22px;
  }
  #mobile-indicator {
    display: none;
  }
  .operation-button {
    width: 6vw;
    color: #0000;
  }
  .modal .modal-content {
    max-width: 520px;
  }
  #main-content {
    height: calc(100vh - var(--top-section-desktop-height));
  }
  #submit-button {
    margin: unset;
  }
  #game-prompt-text {
    margin-top: 16px;
  }
  #help-modal,
  #congrats-modal,
  #reminder-modal,
  #goodbye-modal,
  #rankings-modal {
    height: unset;
  }
  .modal.obscure-behind {
    margin-top: var(--top-section-desktop-height);
  }
  .puzzle:last-child {
    border-right: 1px solid var(--light-grey);
  }
  #mobile-nav {
    display: none;
  }
  .puzzle-info {
    font-size: 0.8em;
  }
  .puzzle {
    max-height: 2.2em;
  }
  .star {
    opacity: 0.35;
    width: 4vw;
    margin: 2px;
  }
  .stars {
    max-height: 1em;
  }
  #nav-header {
    display: none;
  }
  #nav-menu-content {
    max-width: 375px;
    max-height: calc(100% - var(--toolbar-desktop-height) - 1px);
    margin-top: calc(var(--toolbar-desktop-height) + 1px);
  }
  .nav-more-text {
    margin: 18px 0 24px;
  }
}

#seed{
  padding-left: 10px;
  letter-spacing: 35px;
  border: 0;
  background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom; background-size: 50px 1px; background-repeat: repeat-x;
  background-position-x: 35px;
  width: 220px;
  min-width: 220px;
  background-color:#dbe797;
  font-size:20pt;
}
